<div class="popup-container">
  <div class="p-3 w-full">
      <h1>Serveurs</h1>
      <a routerLink="/scene/home" class="close-button">╳</a>

      <div class="bumped rounded-xl my-3 flex flex-row">

          <div class="p-5 w-[60%]">
            <h2>Liste des tâches</h2>

            <div class="block overflow-auto mt-5 w-full h-[65vh]">
              <table class="w-full">
                <thead class="sticky top-0 bg-gray-100">
                  <tr>
                    <th>Etat</th>
                    <th>Noeud</th>
                    <th>Photos</th>
                    <th>Durée</th>
                    <th>Politique</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let task of tasks; index as i" (click)="clickList(i)" [ngClass]="i == selected ? 'bg-gray-200' : ''" class="w-full cursor-pointer border-t-[1px] border-gray-300">
                    <td>
                      <i class="material-icons text-3xl">play_arrow</i>
                    </td>
                    <td>ecotype-{{i}}</td>
                    <td>x10 photos</td>
                    <td>40:30</td>
                    <td class="text-center font-2xl text-lime-500">
                      <i class="material-icons">energy_savings_leaf</i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="relative bg-gray-200 text-xs p-1 bumped">
              <p>{{tasks.length}} tâche en cours</p>
              <p class="absolute right-0 top-0 p-1">{{consommation_totale}} KWh</p>
            </div>
          </div>

          <div class="p-5 flex flex-col overflow-auto w-full">
              <h2>Détails de la tâche</h2>

              <div class="pt-5 bumped rounded-xl p-5 bg-gray-100">
                <p class="text-gray-500">Server:</p>
                <p class="font-bold text-2xl mt-[-10px]">{{tasks[selected].name}}</p>

                <div class="bg-gray-200 p-5 rounded-lg text-gray-500 my-10">
                  Details server: TODO
                </div>

                <p class="text-gray-500">Consommation en temps réel (KWh)</p>
                <div class="max-h-[500px]" id="chart-server"></div>
              </div>
          </div>
      </div>
  </div>
</div>
