<div class="popup-container">
  <div class="p-3 w-full">
    <h1>Serveurs</h1>
    <a routerLink="/scene/home" class="close-button">╳</a>

    <div class="bumped rounded-xl my-3 flex flex-row">
      <div class="relative p-5 w-[60%]">
        <h2>Liste des tâches</h2>

        <div class="block overflow-auto mt-5 w-full h-[65vh]">
          <table class="w-full">
            <thead class="sticky top-0 bg-gray-100">
              <tr>
                <th>Tâche</th>
                <th>Etat</th>
                <th>Etape</th>
                <th>Photos</th>
                <th>Durée</th>
                <th>Politique</th>
              </tr>
            </thead>

            <tbody class="text-sm">
              <tr
                *ngFor="let job of jobsStatus?.jobs; index as i"
                (click)="clickList(i)"
                [ngClass]="i == selected ? 'bg-gray-200' : ''"
                class="w-full cursor-pointer border-t-[1px] border-gray-300"
              >
                <td class="px-0.5 text-center">{{ job.job_id }}</td>
                <td class="px-0.5 text-center">{{ job.state }}</td>
                <td class="px-0.5 text-center">
                  {{ job.step_idx }} / {{ nombre_steps }}
                </td>
                <td class="px-0.5 text-center">
                  x{{ job.pictures_quantity }} photos
                </td>
                <td class="px-0.5 text-center">
                  {{ durationSince(job.last_started_date) }}
                </td>
                <td class="px-0.5 text-center font-2xl">
                  <i
                    *ngIf="job.politic.energy == 'green'"
                    class="material-icons text-lime-500"
                  >
                    energy_savings_leaf
                  </i>
                  <i
                    *ngIf="job.politic.energy != 'green'"
                    class="material-icons text-orange-400"
                  >
                    bolt
                  </i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="absolute bottom-5 w-full bg-gray-200 text-xs p-1 bumped">
          <p>{{ jobsStatus?.number_of_running_jobs || "0" }} tâche en cours</p>
          <p class="absolute font-bold right-0 top-0 p-1">
            total:
            {{ totalNodesConsumption }}W
          </p>
        </div>
      </div>

      <div class="p-5 flex flex-col overflow-auto w-full">
        <div *ngIf="selected_job != undefined">
          <h2>Détails de la tâche {{ selected_job.job_id }}</h2>

          <div class="pt-5 bumped rounded-xl px-5 bg-gray-100">
            <p class="text-gray-500">Server:</p>

            <input
              class="font-bold bg-transparent text-2xl mt-[-10px]"
              disabled
              type="text"
              [ngModel]="selected_job.node_id"
              (ngModelChange)="loadJobGraphData()"
            />

            <p class="text-gray-500 mt-[10px]">Etape:</p>
            <p class="bg-transparent text-lg">
              {{ getStepFromIndex(selected_job.step_idx) }}
            </p>

            <div class="bg-gray-200 p-5 text-sm rounded-lg text-gray-500 mt-3">
              <ul>
                <li>
                  Dernière date de pause:
                  {{ timestampToHours(selected_job.last_paused_date) }}
                </li>
                <li>
                  Dernière date de démarrage:
                  {{ timestampToHours(selected_job.last_started_date) }}
                </li>
                <li>Nombre d'images: {{ selected_job.pictures_quantity }}</li>
                <li>Politique énergie: {{ selected_job.politic.energy }}</li>
                <li>Politique qualitée: {{ selected_job.politic.quality }}</li>
              </ul>
            </div>

            <div class="flex p-3 text-center justify-center">
              <span class="material-icons text-3xl text-yellow-500">
                bolt
              </span>
              <span class="font-bold text-lg p-1">Consommation totale</span>
              <span class="font-bold text-xl p-1">
                {{ consommation_totale }} W
              </span>
            </div>
          </div>
        </div>

        <div *ngIf="selected_job == undefined" class="flex m-auto text-center">
          <p class="text-lg">Pas de tâche selectionnée</p>
        </div>

        <div
          class="overflow-hidden pt-3 relative"
          [ngClass]="
            selected_job != undefined ? 'max-h-[400px]' : 'max-h-[0px]'
          "
        >
          <p class="text-gray-500">Consommation en temps réel (en Watt)</p>

          <div
            id="chart-server"
            [ngClass]="wait_loading_graph ? 'blur-[1px]' : ''"
          ></div>

          <div
            *ngIf="wait_loading_graph"
            class="absolute flex top-0 left-0 w-full h-full"
          >
            <div class="m-auto text-center">
              <svg
                class="animate-spin ml-1 mt-5 mr-3 h-5 w-5 text-blue-300"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
